<div class="slider" style="height: 595px; background-image: url(/assets/about_img1.jpg); background-size: 100% auto;">
	<div class="col s12" style="font-color: white; font-family:nanummyeongjo; position: absolute; left: 10%; top: 25%;">
		<h2>Wherever you go<br><br>어디를 가던지, 패쓰패쓰와 함께 공부하세요</h2>
	</div>
</div>
<h5>K-MOOC, 2015년 10월 런칭<br>현재 10개 대학, 27개의 강좌 제공<br>방문 69만 건, 수강생 66,708명<br>이 중 3.1%만 과정 이수<br>
<br>패쓰패쓰는 "한국 대학생들에게 익숙한 스터디"와 "인터넷 강의의 질문답변 시스템"을 더하여<br>"MOOC 강의를 스터디 그룹들이 수강하면서 지난 학기 우수 수강자인 멘토에게 모르는 것을 질문할 수 있게 하자!"는 아이디어로 시작되었습니다.
</h5>

