<div class="slider" style="height: 400px; width: 100%; position: relative;">
	<div class="container" style="background-image: url(/assets/about_img1.jpg);
    height: 100%; width: 100%;
    background-size: auto;
    background-position-y: 50%;
    position: absolute;
    ">
		
	</div>
</div>