<div class="slider" style="height: 400px;">
	<div class="container" style="background-image: url(/assets/about_img1.jpg);
    height: 100%; width: 100%;
    background-size: 100%;
    background-position-y: 50%;
    ">
		
	</div>
</div>