<div class="slider" style="height: 595px; background-image:linear-gradient(-180deg, #4C9994 0%, rgba(151,202,142,0.40) 98%), url(/assets/about_img1.jpg); background-blend-mode: screen; background-size:auto, cover; background-repeat:no-repeat;background-position:center;">
	<div class="shades-text text-white caption left-align" style="position: absolute; top: 25%; font-family: 'Nanum Myeongjo', serif;text-shadow:0 0 0.5em #053735;">
		<div class="row">
			<div class="col s8 offset-s2 m12 offset-m4">
				<p style="font-size: 3.56rem; margin:0; line-height:1.1;">
					Wherever you go
				</p>
				<p style="font-size: 0.5rem;"></p>
				<p style="font-size:2rem;">
					어디를 가던지, 패쓰패쓰와 함께 공부하세요
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container" style="text-align:center;">
	<div class="paragraph1" style=" margin-top: 140px; line-height:200%;">
		<p>
			K-MOOC, 2015년 10월 런칭<br>현재 10개 대학, 27개의 강좌 제공<br>방문 69만 건, 수강생 66,708명<br>이 중 3.1%만 과정 이수
		</p>
	</div>
	<div class="paragraph2">
		<p>
			패쓰패쓰는 "한국 대학생들에게 익숙한 스터디"와 "인터넷 강의의 질문답변 시스템"을 더하여<br>"MOOC 강의를 스터디 그룹들이 수강하면서 지난 학기 우수 수강자인 멘토에게 모르는 것을 질문할 수 있게 하자!"는 아이디어로 시작되었습니다.
		</p>
	</div>
	<div class="paragraph3">
		
	</div>
	<div class="paragraph4">
		<h3>팀 구성원</h3>
		<p style="font-size:14px; color:#666;">팀 끼니끼니의 멤버를 소개합니다</p>
	</div>
</div>

<div  style="background-image: url(/assets/about_img3.jpg); height:779px; background-size:cover; background-repeat:no-repeat;">
	<div class="container">
		<div class="paragraph5">
			<div class="row" style="margin-top:50px; height:227px;">
				<div class="col s12 m4 l3">
					<div style="height: 227px; background-image: url(/assets/about_card_img1.png); background-position:center;">
						
					</div>
					<div style="background: rgba(255,255,255,0.40); height:162px; text-align: center; padding: 10px 20px 10px 20px;">
						<p style="font-size:12px;">대표</p>
						<p style="font-size:18px; font-weight:bold;">김성아</p>
						<p style="line-height:10%;">이화여자대학교</p>
						<p style="font-size:13px; color:#666;">영어영문학/기업가정신/경영학</p>
					</div>
				</div>
				<div class="col s12 m4 l3">
					<div style="height: 227px; background-image: url(/assets/about_card_img2.png); background-position:center;">
						
					</div>
					<div style="background: rgba(255,255,255,0.40); height:162px; text-align: center; padding: 10px 20px 10px 20px;">
						<p style="font-size:12px;">기획</p>
						<p style="font-size:18px; font-weight:bold;">
						김민성</p>
						<p style="line-height:10%;"">한양대학교</p>
						<p style="font-size:13px; color:#666;">중어중문학</p>
					</div>
				</div>
				<div class="col s12 m4 l3">
					<div style="height: 227px; background-image: url(/assets/about_card_img3.png); background-position:center;">
						
					</div>
					<div style="background: rgba(255,255,255,0.40); height:162px; text-align: center; padding: 10px 20px 10px 20px;">
						<p style="font-size:12px;">개발</p>
						<p style="font-size:18px; font-weight:bold;">
						유재욱</p>
						<p style="line-height:10%;"">경희대학교</p>
						<p style="font-size:13px; color:#666;">한국어교육과</p>
					</div>
				</div>
				<div class="col s12 m4 l3">
					<div style="height: 227px; background-image: url(/assets/about_card_img4.png); background-position:center;">
						
					</div>
					<div style="background: rgba(255,255,255,0.40); height:162px; text-align: center; padding: 10px 20px 10px 20px;">
						<p style="font-size:12px;">디자인</p>
						<p style="font-size:18px; font-weight:bold;">
						이하영</p>
						<p style="line-height:10%;">이화여자대학교</p>
						<p style="font-size:13px; color:#666;">영상디자인과</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

