<div class="slider" style="height: 595px; background-image:linear-gradient(-180deg, #4C9994 0%, rgba(151,202,142,0.40) 98%), url(/assets/about_img1.jpg); background-blend-mode: screen; background-size:auto, cover; background-repeat:no-repeat;background-position:center;">
	<div class="col s12" style="color: white; font-family:nanummyeongjo; position: absolute; left: 10%; top: 25%; line-height:0.2; letter-spacing: -0.1rem; margin-left:68px; margin-right:auto; text-shadow:0 0 0.5em #4E8683;">
		<h2 style="font-size:3.56rem;">
			Wherever you go
		</h2>
		<br><br>
		<h5 style="font-size:2rem;">
			어디를 가던지, 패쓰패쓰와 함께 공부하세요
		</h5>
	</div>
</div>

<div class="container">
	<div class="paragraph1" style="text-align: center; margin-top: 140px; line-height:200%;">
		<p>
			K-MOOC, 2015년 10월 런칭<br>현재 10개 대학, 27개의 강좌 제공<br>방문 69만 건, 수강생 66,708명<br>이 중 3.1%만 과정 이수
		</p>
	</div>
	<div class="paragraph2" style="text-align: center;">
		<p>
			패쓰패쓰는 "한국 대학생들에게 익숙한 스터디"와 "인터넷 강의의 질문답변 시스템"을 더하여<br>"MOOC 강의를 스터디 그룹들이 수강하면서 지난 학기 우수 수강자인 멘토에게 모르는 것을 질문할 수 있게 하자!"는 아이디어로 시작되었습니다.
		</p>
	</div>
	<div class="paragraph3">
		
	</div>
	
</div>

<div  style="background-image: url(/assets/about_img3.jpg); height:779px; background-size:cover; background-repeat:no-repeat;">
	<div class="container">
		<div class="paragraph4">
		<div class="row">
			<div class="col s12 m4 l3" style="background: #D8D8D8; height: 227px;">
				
			</div>
		</div>
	</div>
	</div>
</div>

