<nav style="background-color:darkslategray;">
</nav>

<!-- 강좌소개 상단 그림 배경 부분 -->
  <div class="navopc-endchange" id="index-banner"  style="background-image: url(/assets/bg_img_mountain.png);
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 100%;">

    <div class="container">
      <br><br>
      <div class="row">
        <div class="col s12 m6">
          <h5>인체해부학 - 뼈대와 근육</h5>
        </div>
        <div class="col s12 m6">
          <div class="row">
            <div class="col s10"><h5 class="header right black-text" style="font-size: 20px;">하용용 님</h5></div>
            <div class="col s2">
              <a class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">perm_identity</i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m5">
          <h5>중요공지</h5>
          <div class="row" style="border-radius: 10px;color: white;padding: 10px;background-color: #BF7E7E;">
            <p>중간고사가 다가옵니다! 다들 파이팅!!</p>
          </div>
          <div class="row" style="padding:1px 5px 5px 10px;background-color: rgba(224,224,224,0.5);">
            <h5>우리 조 조교님</h5>
              <div class="col s4">
                <img src="http://cfile28.uf.tistory.com/image/265D634852CD1F30178C8B" alt="" class="circle responsive-img">
              </div>
            <div class="col s8">
              <div class="valign-wrapper">
                <h6 class="valign">두흿두흿츄</h6>
              </div>
              <div class="valign-wrapper">
                <h6 class="valign">건양대학교 응급구조학과 3학년</h6>
              </div><br>
              <div class="valign-wrapper">
                <h6 class="valign">반가워요! 이번 학기 100% 수료를 목표로 달려보아요>ㅇ<</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m7">
          <h5>달성도 비교</h5>

          <div class="row">
            <p>꼬불꼬불 그림 들어갈 곳</p>
          </div>

          <div class="row">
            <div class="col s3">나의 달성도</div>
            <div class="col s8">
              <div class="progress" style="margin:auto; padding:10px;">
              <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="col s1">70%</div>
          </div>
          <div class="row">
            <div class="col s3">권장 달성도</div>
            <div class="col s8">
              <div class="progress" style="margin:auto; padding:10px;">
              <div class="determinate" style="width: 50%"></div>
              </div>
            </div>
            <div class="col s1">50%</div>
          </div>
          <div class="row">
            <div class="col s3">조 평균 달성도</div>
            <div class="col s8">
              <div class="progress" style="margin:auto; padding:10px;">
              <div class="determinate" style="width: 45%"></div>
              </div>
            </div>
            <div class="col s1">45%</div>
          </div>

        </div>
      </div>

    </div>
  </div>

<!-- 질문게시판 -->
<div class="container">
<br>
  <h5>질문게시판</h5>
<br>
    <table class="collection">
        <thead style="background-color:#F4E2BB;color:white;">
          <tr>
              <th data-field="title">제목</th>
              <th data-field="author">작성자</th>
              <th data-field="answer">답변여부</th>
              <th data-field="view">조회</th>
          </tr>
        </thead>
        
        <tbody>
            <tr class="collection-item">
              <td><a href="/welcome/course_answer">질문이 있습니다, 조교님! [댓글수]</a></td>
              <td>뿅갺갺</td>
              <td>넹!</td>
              <td>30</td>
            </tr>
          <tr class="collection-item">
            <td><a href="/welcome/course_answer">어려워도 조금만 힘내자 얘들아! [댓글수]</a></td>
            <td>성아짜응</td>
            <td>아직...</td>
            <td>32</td>
          </tr>
          <tr class="collection-item">
            <td><a href="/welcome/course_answer">질문질문! [댓글수]</a></td>
            <td>이화사마</td>
            <td>넹!</td>
            <td>30</td>
          </tr>
          <tr class="collection-item">
            <td><a href="/welcome/course_answer">3강에서요... [댓글수]</a></td>
            <td>경흿경흿츄</td>
            <td>넹!</td>
            <td>30</td>
          </tr>
          <tr class="collection-item">
            <td><a href="/welcome/course_answer">이제 곧 중간고사 기간이네요~ [댓글수]</a></td>
            <td>한양어흥</td>
            <td>넹!</td>
            <td>30</td>
          </tr>
        </tbody>
      </table>    
        <div class="center-align">
          <a class="waves-effect waves-light btn-large" href="/welcome/course_question"><i class="material-icons right">send</i>질문하기!</a>
        </div>
      <br>

</div>
