<nav style="background-color:darkslategray;">
</nav>

<!-- 강좌소개 상단 그림 배경 부분 -->
  <div class="section no-pad-bot navopc-endchange" id="index-banner">
    <div class="container" style="background-image: url(/assets/bg_img_mountain.png);
      padding-left: 85px;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 100%;">

      <br><br>
      <div class="row">
        <div class="col s12 m6">
          <h5>강좌이름</h5>
        </div>
        <div class="col s12 m6">
          <div class="row">
            <div class="col s10"><h5 class="header right black-text" style="font-size: 20px;">하용용 님</h5></div>
            <div class="col s2">
              <a class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">perm_identity</i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m5">
          <h5>중요공지</h5>
          <div class="row" style="border-radius: 10px;color: white;padding: 10px;background-color: #BF7E7E;">
            <p>공지 들어갈 자리</p>
          </div>
          <div class="row" style="padding:1px 5px 5px 10px;background-color: rgba(224,224,224,0.5);">
            <h5>우리 조 조교님</h5>
            <div class="col s4">사진</div>
            <div class="col s8">
              <div class="valign-wrapper">
                <h6 class="valign">이름</h6>
              </div>
              <div class="valign-wrapper">
                <h6 class="valign">정보</h6>
              </div><br>
              <div class="valign-wrapper">
                <h6 class="valign">간단한 메모 어쩌구저쩌구블라블라블라블라블라블라</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m7">
          <h5>달성도 비교</h5>

          <div class="row">
            <p>꼬불꼬불 그림 들어갈 곳</p>
          </div>

          <div class="row">
            <div class="col s3">나의 달성도</div>
            <div class="col s8">
              <div class="progress" style="margin:auto; padding:10px;">
              <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="col s1">70%</div>
          </div>
          <div class="row">
            <div class="col s3">권장 달성도</div>
            <div class="col s8">
              <div class="progress" style="margin:auto; padding:10px;">
              <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="col s1">70%</div>
          </div>
          <div class="row">
            <div class="col s3">조 평균 달성도</div>
            <div class="col s8">
              <div class="progress" style="margin:auto; padding:10px;">
              <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="col s1">70%</div>
          </div>

        </div>
      </div>

    </div>
  </div>

<!-- 질문게시판 -->
<div class="container">
  <h5>질문게시판</h5>
  <p>나랏말싸미듕귝에달아 사맛디아니할새</p>
</div>
