<nav style="background-color:#228783;">
</nav>

<br><br>
<!-- 강좌소개 상단 그림 배경 부분 -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
<!--질문출력-->
          <div class="row valign-wrapper">
            <div class="col s3 m2 l2">
              <img src="http://cfile25.uf.tistory.com/image/217F123952BE61A2231DE6" alt="" class="circle responsive-img">
              <center><p style="font-size: 12px; margin-top: -1px;">뿅갺갺</p></center>
            </div>
            <div class="col s9 m8 pull-m1 l8 pull-l1">
              <span style="font-size: 20px; font-weight: 600; color: #333;">
                질문이 있습니다, 조교님!
              </span>
              <br>
              <span style="color: #666;">
                나랏말싸미 듕귁에 달아 문자와로 서르 사맛띠 아니할쌔 이런 젼차로 어린 백셩이 니르고져 홀빼이셔도
                마참내 제 뜨들 시러펴디 못할 노미 하니라.
                내 이랄 위하야 어엿비 너겨 새로 스믈여듧 자랄 맹가노니 사람마다 희여 수비니겨 날로 쑤메 뼌한킈 하고져 할따라미니라.
              </span>
            </div>
          </div>
          <br>
<!--답변출력-->
          <div class="row valign-wrapper">
            <div class="col s9 m8 l8">
              <span style="font-size: 20px; font-weight: 600; color: #333;">
                답변입니다, 학생님!
              </span>
              <br>
              <span style="color: #666;">
                나랏말싸미 듕귁에 달아 문자와로 서르 사맛띠 아니할쌔 이런 젼차로 어린 백셩이 니르고져 홀빼이셔도
                마참내 제 뜨들 시러펴디 못할 노미 하니라.
                내 이랄 위하야 어엿비 너겨 새로 스믈여듧 자랄 맹가노니 사람마다 희여 수비니겨 날로 쑤메 뼌한킈 하고져 할따라미니라.
                나랏말싸미 듕귁에 달아 문자와로 서르 사맛띠 아니할쌔 이런 젼차로 어린 백셩이 니르고져 홀빼이셔도
                마참내 제 뜨들 시러펴디 못할 노미 하니라.
              </span>
            </div>
            <div class="col s3 m2 pull-m1 l2 pull-l1">
              <img src="http://cfile28.uf.tistory.com/image/265D634852CD1F30178C8B" alt="" class="circle responsive-img">
              <center><p style="font-size: 12px; margin-top: -1px; color: #666;">두흿두흿츄</p></center>
            </div>
          </div>
          <br>

<!--댓글출력-->
          <div class="row valign-wrapper">
            <div class="col s3 m1 offset-m1 l1 offset-l1">
              <img src="/assets/about_card_img1.png" alt="" class="circle responsive-img">
              <center><p style="font-size: 10px; margin-top: -3px; color: #666;">성아짱</p></center>
            </div>
            <div class="col s9 m8 pull-m2 l8 pull-l2" style="font-size: 14px;">
              <span>그거 1강에 나와요!</span>
            </div>
          </div>
          <div class="row valign-wrapper">
            <div class="col s3 m1 offset-m1 l1 offset-l1">
              <img src="/assets/about_card_img2.png" alt="" class="circle responsive-img">
              <center><p style="font-size: 10px; margin-top: -3px;">민성짱</p></center>
            </div>
            <div class="col s9 m8 pull-m2 l8 pull-l2" style="font-size: 14px;">
              <span>그거 1강에 나와요!</span>
            </div>
          </div>
          <div class="row valign-wrapper">
            <div class="col s3 m1 offset-m1 l1 offset-l1">
              <img src="/assets/about_card_img3.png" alt="" class="circle responsive-img">
              <center><p style="font-size: 10px; margin-top: -3px;">재욱짱</p></center>
            </div>
            <div class="col s9 m8 pull-m2 l8 pull-l2" style="font-size: 14px;">
              <span>그거 1강에 나와요!</span>
            </div>
          </div>
<!--댓글입력-->
          <div class="row valign-wrapper">
            <div class="col s3 m1 offset-m1 l1 offset-l1">
              <img src="/assets/about_card_img4.png" alt="" class="circle responsive-img">
              <center><p style="font-size: 10px; margin-top: -3px;">하영짱</p></center>
            </div>
            <div class="input-field col s6 m8 l8">
              <textarea id="textarea1" placeholder="댓글" class="materialize-textarea"></textarea>
            </div>
            <div class="col s3 m3 l3">
              <a class="waves-effect waves-light btn" href="/welcome/course_answer">ok</a>
            </div>
          </div>
        <br>
    </div>
  </div>



  <div class="container">
    <table class="collection">
        <thead style="background-color:#F4E2BB;color:white;">
          <tr>
              <th data-field="title">제목</th>
              <th data-field="author">작성자</th>
              <th data-field="answer">답변여부</th>
              <th data-field="view">조회</th>
          </tr>
        </thead>

        <tbody>
            <tr class="collection-item">
              <td><a href="/welcome/course_answer">질문이 있습니다, 조교님! [댓글수]</a></td>
              <td>뿅갺갺</td>
              <td>넹!</td>
              <td>30</td>
            </tr>
          <tr class="collection-item">
            <td><a href="/welcome/course_answer">어려워도 조금만 힘내자 얘들아! [댓글수]</a></td>
            <td>성아짜응</td>
            <td>아직...</td>
            <td>32</td>
          </tr>
          <tr class="collection-item">
            <td><a href="/welcome/course_answer">질문질문! [댓글수]</a></td>
            <td>이화사마</td>
            <td>넹!</td>
            <td>30</td>
          </tr>
          <tr class="collection-item">
            <td><a href="/welcome/course_answer">3강에서요... [댓글수]</a></td>
            <td>경흿경흿츄</td>
            <td>넹!</td>
            <td>30</td>
          </tr>
          <tr class="collection-item">
            <td><a href="/welcome/course_answer">이제 곧 중간고사 기간이네요~ [댓글수]</a></td>
            <td>한양어흥</td>
            <td>넹!</td>
            <td>30</td>
          </tr>
        </tbody>
      </table>
        <div class="center-align">
          <a class="waves-effect waves-light btn-large" href="/welcome/course_question"><i class="material-icons right">send</i>질문하기!</a>
        </div>
      <br>

</div>
