<nav style="background-color:darkslategray;">
</nav>

<!-- 강좌소개 상단 그림 배경 부분 -->
  <div class="section no-pad-bot navopc-endchange" id="index-banner">
    <div class="container">
    <br>
      <div class="row">
         <table>
                <thead>
                  <tr>
                      <th data-field="course_code">강의번호</th>
                      <th data-field="course_title">강의명</th>
                      <th data-field="course_date">스터디 기간</th>
                      <th data-field="course_member">참여 인원</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>KOCW.KY001</td>
                    <td>인체해부학 - 뼈대와 근육</td>
                    <td>2016.05.30~2016.09.25</td>
                    <td>11/50</td>
                  </tr>
                </tbody>
              </table>
          </div>
     
         <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s2">
                  <img src="http://cfile28.uf.tistory.com/image/265D634852CD1F30178C8B" alt="" class="circle responsive-img">
                </div>
                <div class="col s10">
                  <span class="black-text">
                    당신의 조교 두흿두흿츄에요~ 반가워요! 열심히 공부해봐요>ㅇ<<br>궁금한 점, 요청사항을 아래 적어주세욥!
                  </span>
                </div>
              </div>
                  
            <div class="row valign-wrapper">
                <div class="col s7 offset-s3">
                  <input value="반가워요 조교님!" id="first_name2" type="text" class="validate">
                </div>
                <div class="col s2">
                  <img src="http://cfile25.uf.tistory.com/image/217F123952BE61A2231DE6" alt="" class="circle responsive-img">
                </div>
              </div>
              
              <div class="center-align">
                <a class="waves-effect waves-light btn-large" href="/welcome/course_study"><i class="material-icons right">send</i>스터디 신청!</a>
              </div>
            </div>
          </div>
    </div>
  </div>