<!-- 강좌소개 상단 그림 배경 부분 -->

  <div class="section no-pad-bot" id="index-banner">
    <div class="container" style="background-image: url(/assets/bg_img_mountain.png);
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 100%;">

      <br><br>
      <h5>강좌소개</h5>
      <div class="row">
        <div class="col s12 m6">
          <h4>강의 맛보기 영상 들어갈 자리</h4>
        </div>
        <div class="col s12 m6">
          <h5>강의 제목</h5>
          <p>강의번호</p>
          <p>수강일 | 20xx.xx.xx ~ 20xx.xx.xx</p>

          <div class="row">
            <div class="col s6">
              <p><b>참여인원</b></p>
            </div>
            <div class="col s6">
              <p><b>전체인원</b></p>
            </div>
          </div>

          <div class="progress" style="margin:auto; width:90%; padding: 10px;">
            <div class="determinate" style="width: 70%"></div>
          </div>

          <p>친구들을 초대해서 함께 공부하자 | SNS공유 버튼 들어갈 자리</p><br>

          <div class="center-align">
            <a class="waves-effect waves-red btn" style="background-color: #9A1E1E;">스터디 신청하기</a>
          </div>
        </div>
      </div>

    </div>
  </div>


<!-- 강의 소개 하단 텍스트 부분-->
<div class="container">
  <h5>텍스트 들어갈 자리</h5>
  <p>나랏말싸미듕귝에달아 사맛디아니할새</p>
</div>
