<nav style="background-color:#228783;">
</nav>

<!-- 강좌소개 상단 그림 배경 부분 -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
         <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s2">
                  <img src="http://cfile25.uf.tistory.com/image/217F123952BE61A2231DE6" alt="" class="circle responsive-img">
                </div>
                <div class="col s10">
                  <span style="font-size: 20px; font-weight: 600; color: #333;">
                    질문이 있습니다, 조교님!
                  </span>
                  <br>
                  <span style="color: #666;">
                    나랏말싸미 듕귁에 달아 문자와로 서르 사맛띠 아니할쌔 이런 젼차로 어린 백셩이 니르고져 홀빼이셔도
                    마참내 제 뜨들 시러펴디 못할 노미 하니라.
                    내 이랄 위하야 어엿비 너겨 새로 스믈여듧 자랄 맹가노니 사람마다 희여 수비니겨 날로 쑤메 뼌한킈 하고져 할따라미니라.
                    나랏말싸미 듕귁에 달아 문자와로 서르 사맛띠 아니할쌔 이런 젼차로 어린 백셩이 니르고져 홀빼이셔도
                    마참내 제 뜨들 시러펴디 못할 노미 하니라.
                    내 이랄 위하야 어엿비 너겨 새로 스믈여듧 자랄 맹가노니 사람마다 희여 수비니겨 날로 쑤메 뼌한킈 하고져 할따라미니라.
                    나랏말싸미 듕귁에 달아 문자와로 서르 사맛띠 아니할쌔 이런 젼차로 어린 백셩이 니르고져 홀빼이셔도
                    마참내 제 뜨들 시러펴디 못할 노미 하니라.
                    내 이랄 위하야 어엿비 너겨 새로 스믈여듧 자랄 맹가노니 사람마다 희여 수비니겨 날로 쑤메 뼌한킈 하고져 할따라미니라.
                    나랏말싸미 듕귁에 달아 문자와로 서르 사맛띠 아니할쌔 이런 젼차로 어린 백셩이 니르고져 홀빼이셔도
                    마참내 제 뜨들 시러펴디 못할 노미 하니라.
                    내 이랄 위하야 어엿비 너겨 새로 스믈여듧 자랄 맹가노니 사람마다 희여 수비니겨 날로 쑤메 뼌한킈 하고져 할따라미니라.
                    나랏말싸미 듕귁에 달아 문자와로 서르 사맛띠 아니할쌔 이런 젼차로 어린 백셩이 니르고져 홀빼이셔도
                    마참내 제 뜨들 시러펴디 못할 노미 하니라.
                    내 이랄 위하야 어엿비 너겨 새로 스믈여듧 자랄 맹가노니 사람마다 희여 수비니겨 날로 쑤메 뼌한킈 하고져 할따라미니라.
                    나랏말싸미 듕귁에 달아 문자와로 서르 사맛띠 아니할쌔 이런 젼차로 어린 백셩이 니르고져 홀빼이셔도
                    마참내 제 뜨들 시러펴디 못할 노미 하니라.
                    내 이랄 위하야 어엿비 너겨 새로 스믈여듧 자랄 맹가노니 사람마다 희여 수비니겨 날로 쑤메 뼌한킈 하고져 할따라미니라.
                  </span>
                </div>
              </div>
            </div>
          </div>

            <div class="row valign-wrapper">
                <div class="col s8">
                  <input placeholder="제목" id="first_name2" type="text" class="validate">
                </div>
                <div class="col s2 pull-s1">
                  <img src="http://cfile28.uf.tistory.com/image/265D634852CD1F30178C8B" alt="" class="circle responsive-img">
                </div>
              </div>
            <div class="row">
                <form class="col s10 push-s1">
                    <div class="input-field">
                      <textarea id="textarea1" placeholder="내용" class="materialize-textarea"></textarea>
                    </div>
                </form>
            </div>
              <div class="center-align">
                <a class="waves-effect waves-light btn-large" href="/welcome/course_study"><i class="material-icons right">send</i>답변하기!</a>
              </div>
            </div>
          </div>
    </div>
  </div>
