<nav style="background-color:darkslategray;">
</nav>

<!-- 강좌소개 상단 그림 배경 부분 -->
  <div class="navopc-endchange" id="index-banner"  style="background-image: url(/assets/bg_img_mountain.png);
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 100%;">
    <div class="container">

      <br><br>
      <h5>강좌소개</h5>
      <div class="row">
        <div class="col s12 m6">
          <!--<h4>강의 맛보기 영상 들어갈 자리</h4>-->
          <div class="video-container">
            <iframe src="//www.youtube.com/embed/0Ayl6JElHhk?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col s12 m6">
          <h5>인체해부학 - 뼈대와 근육</h5>
          <p>건양대학교</p>
          <p>KOCW.KY001</p>
          <p>2016.05.30~2016.09.25</p>

          <div class="row">
            <div class="col s6">
              <p><b>참여인원</b> 10명</p>
            </div>
            <div class="col s6">
              <p><b>전체인원</b> 50명</p>
            </div>
          </div>

          <div class="progress" style="margin:auto; width:90%; padding: 10px;">
            <div class="determinate" style="width: 70%"></div>
          </div>
          
          <div class="row" style="padding-left: 21px;">
          <br>
          <!--둥글둥글하게 모서리 처리해야됨!-->
            <a class="waves-effect waves-light btn red" href="/welcome/course_enroll" style="height: 40px; margin-top: -32px;">&nbsp;스터디 신청하기!&nbsp;</a>
            <a href="/"><img src="/assets/images/sns_kakaotalk.png" style="height: 40px; width: 40px;"></img></a>
            <a href="/"><img src="/assets/images/sns_kakaostory.png" style="height: 40px; width: 40px;"></img></a>
            <a href="/"><img src="/assets/images/sns_line.png" style="height: 40px; width: 40px;"></img></a>
            <a href="/"><img src="/assets/images/sns_tweet.png" style="height: 40px; width: 40px;"></img></a>
            <a href="/"><img src="/assets/images/sns_facebook.png" style="height: 40px; width: 40px;"></img></a>
          </div>
        </div>
      </div>

          
        </div>
      </div>

    </div>
  </div>


<!-- 강의 소개 하단 텍스트 부분-->
<div class="container">
  <h5><br>강의 소개</h5>
  <p>의학용어 중 인체구조와 관련된 용어들은 일본 의학계에서 한자에 기반하여 만든 것으로 전공학습자들 조차 인체구조 관련 용어를 학습하는 데에는 많은 시간과 노력이 요구된다. 더욱이 전공자들이 학습한 용어를 활용하여 일반인들과 의사소통한다는 것은 쉬운 일이 아니다. 두개골, 안면골, 상완골, 대퇴골, 견갑골, 쇄골, 경추, 요추, 비골, 수근골, 비골근, 비복근 등⋯⋯. 이에 전문가들뿐만 아니라 일반인들도 쉽게 이해할 수 있는 인체 구조에 대한 용어가 필요하다.
 <br>
 현재 대한해부학회에서는 한자를 바탕으로 만들진 어려운 인체 부위의 명칭을 알기 쉬운 우리말로 대체하고 있다. 예를 들면 머리뼈, 얼굴뼈, 위팔뼈, 넙다리뼈, 어깨뼈, 빗장뼈, 목뼈, 허리뼈, 종아리뼈, 손목뼈, 종아리근, 장딴지근 등⋯⋯.
 <br>
 [인체해부학 - 뼈대와 근육]은 인체의 근육과 뼈대에 대하여 누구나 쉽게 학습할 수 있도록 3차원 영상을 포함한 다양한 시각자료를 이용하여 제작되었고, 김철태 교수는 인체 각 부위의 명칭을 일반인들도 쉽게 이해할 수 있도록 친숙한 우리말로 이야기하듯 풀어 설명하였다.
 <br>
 새로이 인체해부학을 공부하는 학습자들, 이미 구 의학용어를 습득한 전공자들, 그리고 일반인들은 본 강의를 통하여 새로운 인체구조 명칭을 쉽고 재미있게 공부할 수 있을 것이다. 또한 본 강의는 통일되지 않은 의학 용어를 사용해온 의학 및 보건학 전공 세대간의 소통뿐만 아니라 의학 및 보건학 전문인과 비전문인들과의 원활한 의사소통의 통로를 마련해주는 계기가 될 것으로 기대된다.</p>
</div>
