<nav style="background-color:#228783;">
</nav>

<!-- 강좌소개 상단 그림 배경 부분 -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
         <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s2">
                  <img src="http://cfile28.uf.tistory.com/image/265D634852CD1F30178C8B" alt="" class="circle responsive-img">
                </div>
                <div class="col s10">
                  <span class="black-text">
                    당신의 조교 두흿두흿츄에요~ 무엇이 궁금한가요!?
                  </span>
                </div>
              </div>

            <div class="row valign-wrapper">
                <div class="col s8">
                  <input placeholder="제목" id="first_name2" type="text" class="validate">
                </div>
                <div class="col s2 pull-s1">
                  <img src="http://cfile25.uf.tistory.com/image/217F123952BE61A2231DE6" alt="" class="circle responsive-img">
                </div>
              </div>
            <div class="row">
                <form class="col s10 push-s1">
                    <div class="input-field">
                      <textarea id="textarea1" placeholder="내용" class="materialize-textarea"></textarea>
                    </div>
                </form>
            </div>


              <div class="center-align">
                <a class="waves-effect waves-light btn-large" href="/welcome/course_study"><i class="material-icons right">send</i>질문하기!</a>
              </div>
            </div>
          </div>
    </div>
  </div>
