<!--메인 포토 슬라이더-->
<div class="slider">
  <ul class="slides">
    <li>
      <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
      <div class="caption left-align">
        <h3>혼자 가면 빨리가고<br>
        함께 가면 멀리간다</h3>
        <h5 class="light grey-text text-lighten-3">아프리카 속담中</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
      <div class="caption center-align">
        <h3>Pass with<br>Pass Path</h3>
        <h5 class="light grey-text text-lighten-3">Let's Pass</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
      <div class="caption right-align">
        <h3>집에 가고 싶죠?(집에 있는데도)</h3>
        <h5 class="light grey-text text-lighten-3">피곤해도 강의 챙겨 들어요. 그러면 이따 내가 칭찬해줄개오.</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
      <div class="caption center-align">
        <h3>듣지마!(feat.MC민지)</h3>
        <h5 class="light grey-text text-lighten-3">디파짓 다 뺏기고 싶다면</h5>
      </div>
    </li>
  </ul>
</div>

<!--강의 탭-->
<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#test1">날짜별</a></li>
        <li class="tab col s4"><a href="#test2">카테고리별</a></li>
        <li class="tab col s4"><a href="#test3">학교별</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">

      <!--강의카드-->
        <div class="row">
          <div class="col s12 m4 l3">
            <div class="card small">
              <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">세계시민교육,<br>지구공동사회의<br>시민으로 살기</span>
              </div>
              <div class="card-content">
                <p>경희대학교<br>KH101<br>20160404~20160730</p>
              </div>
              <div class="card-action">
                <a href="#">스터디 신청하기</a>
              </div>
            </div>
          </div>

        
          <div class="col s12 m4 l3">
            <div class="card small">
              <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">호모 폴리티쿠스:<br>우리가 만든 세계</span>
              </div>
              <div class="card-content">
                <p>경희대학교<br>KH102<br>20160404~20160730</p>
              </div>
              <div class="card-action">
                <a href="#">스터디 신청하기</a>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l3">
            <div class="card small">
              <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">건축공간론</span>
              </div>
              <div class="card-content">
                <p>한양대학교<br>HYUARE4100k<br>20160401~20160519</p>
              </div>
              <div class="card-action">
                <a href="#">스터디 신청하기</a>
              </div>
            </div>
          </div>
        
          <div class="col s12 m4 l3">
            <div class="card small">
              <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">경영데이터마이닝</span>
              </div>
              <div class="card-content">
                <p>한양대학교<br>HYUBUS3099k<br>20160401~20160519</p>
              </div>
              <div class="card-action">
                <a href="#">스터디 신청하기</a>
              </div>
            </div>
          </div>
          
          <div class="col s12 m4 l3">
            <div class="card small">
              <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">정책학개론</span>
              </div>
              <div class="card-content">
                <p>한양대학교<br>HYUPAD3004k<br>20160401~20160519</p>
              </div>
              <div class="card-action">
                <a href="#">스터디 신청하기</a>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l3">
            <div class="card small">
              <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">정책학개론</span>
              </div>
              <div class="card-content">
                <p>한양대학교<br>HYUPAD3004k<br>20160401~20160519</p>
              </div>
              <div class="card-action">
                <a href="#">스터디 신청하기</a>
              </div>
            </div>
          </div>
          
          <div class="col s12 m4 l3">
            <div class="card small">
              <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">정보사회학입문</span>
              </div>
              <div class="card-content">
                <p>한양대학교<br>HYUSOC1053k<br>20160401~20160519</p>
              </div>
              <div class="card-action">
                <a href="#">스터디 신청하기</a>
              </div>
            </div>
          </div>
          
    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.slider').slider({full_width: true});
    $('ul.tabs').tabs();
  });
</script>