@import "materialize/components/color";
$primary-color: color("shades", "white") !default;
$navbar-font-color: color("grey","base") !default;
$tabs-text-color: color("grey","base") !default;
$footer-bg-color: color("grey","lighten-4") !default;
$link-color: color("grey","darken-2") !default;
@import 'materialize';

.card p {
    color: rgba(0, 0, 0, 0.87) !important;
}