@import "materialize/components/color";
$primary-color: color("shades", "white") !default;
$navbar-font-color: color("grey","base") !default;
$tabs-text-color: color("grey","base") !default;
$footer-bg-color: color("grey","lighten-4") !default;
$link-color: color("grey","darken-2") !default;
@import 'materialize';

.card p {
    color: rgba(0, 0, 0, 0.87) !important;
}

header, main, footer { padding-left: 0px; }
/*Navbar*/
a.button-collapse { padding-left: 15px; }
a.brand-logo.left-align.hide-on-med-and-down { padding-left: 20px; }
a.brand-logo.left-align.hide-on-small-only.hide-on-large-only{ font-size: 1.675rem; }
a.brand-logo.left-align.hide-on-small-only.hide-on-large-only span{ font-size: 1.12rem; }
@media only screen and (max-width: 320px) {
    a.brand-logo.left-align.hide-on-med-and-up { font-size: 1.15rem; }
}
@media only screen and (min-width: 321px) {
    a.brand-logo.left-align.hide-on-med-and-up { font-size: 1.25rem;}
}

/*NEW CSS*/
nav {opacity:1;transition:background-color 0.3s; background-color:transparent;}
nav.opaque {opacity:1; background-color:white;}