<!DOCTYPE html>
<html>
<head>
  <title>PassPath</title>
  
  <!--favicon 넣기!-->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <!--og tag 설정, 수정 필요!-->
	<meta property="og:title" content="Passpath">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.passpath.net"/>
	<meta property="og:description" content="힘겨운 독학은 이제 그만! 우리 모두 패쓰패쓰!">
	<meta property="og:image" content="https://trello-attachments.s3.amazonaws.com/570b7ee3d537ab59b19fffab/126x37/10222e13ae0d7f8d8f382d7a521cfb10/font3.png"/>  
  
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/assets/materialize.js"></script>

  <!--Import Google Icon Font-->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  <!--폰트-->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans" type="text/css">
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanummyeongjo.css" type="text/css">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/assets/application.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<div class="navbar-fixed">
  <nav class="z-depth-0">
    <div class="container">
        <a href="/" class="brand-logo"><img id="change_logo" src="/assets/navbar_logo3.svg" style="margin-top:15px; width:126px; height:auto;"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/welcome/about">서비스에 대해</a></li>
          <!--<li><a href="/welcome/rank_tutor">조교랭킹</a></li>-->
        <%if ppuser_signed_in? %>
          <li><a href="/ppusers/sign_out">로그아웃</a></li>
          <li><a href="/welcome/my_page">마이페이지</a></li>
        <%else%>
          <li><a href="/ppusers/sign_in">로그인</a></li>
          <li><a href="/ppusers/sign_up">회원가입</a></li>
        <%end%>
          </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/welcome/about">서비스에 대해</a></li>
          <!--<li><a href="/welcome/rank_tutor">조교랭킹</a></li>-->
        <%if ppuser_signed_in? %>
          <li><a href="/ppusers/sign_out">로그아웃</a></li>
          <li><a href="/welcome/my_page">마이페이지</a></li>
        <%else%>
          <li><a href="/ppusers/sign_in">로그인</a></li>
          <li><a href="/ppusers/sign_up">회원가입</a></li>
          <%end%>
        </ul>
    </div>
  </nav>
</div>

<main>
<%= yield %>
</main>

</body>

<!--footer-->

<footer class="page-footer" style="font-size:11px; line-height: 1.3em;">
  <div class="container">
    <h6 class="grey-text text-base"  style="padding-bottom: 20px;">
      (주)끼니끼니   대표이사 김성아 | 관리책임자 김민성<br>
      03760 서울특별시 서대문구 이화여대길 52 | Tel 02-1234-5678 | 
      email <a href="mailto:passpath42@gmail.com">passpath42@gmail.com</a><br><br>
      패쓰패쓰는 통신판매중개자이며 강의 및 모임에 대한 당사자 및 주최자가 아닙니다.
      따라서 패쓰패쓰는 등록된 강의 및 모임에 대하여 책임지지 않습니다.</h6>
  </div>      
    <div class="footer-copyright">
      <div class="container">
        <h6 class="grey-text text-base" style="margin-bottom: 10px;">
        © 2016 Copyright PassPath, All right Reserved.</h6>
      </div>
    </div>
  </div>

  <!--자바스크립트-->
  <script>
    $( document ).ready(function(){
       $(".button-collapse").sideNav();
    });
  </script>

</footer>

</html>
