<!DOCTYPE html>
<html>
<head>
  <title>PassPath</title>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/assets/materialize.js"></script>

  <!--Import Google Icon Font-->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  <!--나눔고딕-->
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanummyeongjo.css" type="text/css">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/assets/application.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<nav>
  <div class="container">
    <div class="navbar-fixed">
        <a href="/" class="brand-logo"><img src="/assets/logo.png" style="margin-top:15px;"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/welcome/about">서비스에 대해</a></li>
          <li><a href="/welcome/rank_tutor">조교랭킹</a></li>
        <%if ppuser_signed_in? %>
          <li><a href="/ppusers/sign_out">로그아웃</a></li>
        <%else%>
          <li><a href="/ppusers/sign_in">로그인</a></li>
        <%end%>
          <li><a href="/ppusers/sign_up">회원가입</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/welcome/about">서비스에 대해</a></li>
          <li><a href="/welcome/rank_tutor">조교랭킹</a></li>
        <%if ppuser_signed_in? %>
          <li><a href="/ppusers/sign_out">로그아웃</a></li>
        <%else%>
          <li><a href="/ppusers/sign_in">로그인</a></li>
        <%end%>
          <li><a href="/ppusers/sign_up">회원가입</a></li>
        </ul>
    </div>
  </div>
</nav>

<!--<div class="navbar-fixed" id="top">
        <nav>
    <div class="container">
        <a href="/" class="brand-logo"><img src="/assets/logo.png" style="margin-top:15px;"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/welcome/about">서비스에 대해</a></li>
          <li><a href="/welcome/rank_tutor">조교랭킹</a></li>
        <%if ppuser_signed_in? %>
          <li><a href="/ppusers/sign_out">로그아웃</a></li>
        <%else%>
          <li><a href="/ppusers/sign_in">로그인</a></li>
        <%end%>
          <li><a href="/ppusers/sign_up">회원가입</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/welcome/about">서비스에 대해</a></li>
          <li><a href="/welcome/rank_tutor">조교랭킹</a></li>
        <%if ppuser_signed_in? %>
          <li><a href="/ppusers/sign_out">로그아웃</a></li>
        <%else%>
          <li><a href="/ppusers/sign_in">로그인</a></li>
        <%end%>
          <li><a href="/ppusers/sign_up">회원가입</a></li>
        </nav>
    </div>-->

<main style="margin-top: -64px;">
<%= yield %>
</main>

</body>

<!--footer-->

<footer class="page-footer">
  <div class="container">
    <h6 class="grey-text text-base"  style="padding-bottom: 10px;">
      (주)끼니끼니   대표이사 김성아 | 관리책임자 김민성<br>
      03760 서울특별시 서대문구 이화여대길 52 | Tel 02-1234-5678 | 
      email <a href="mailto:passpath42@gmail.com">passpath42@gmail.com</a><br><br>
      패쓰패쓰는 통신판매중개자이며 강의 및 모임에 대한 당사자 및 주최자가 아닙니다.
      따라서 패쓰패쓰는 등록된 강의 및 모임에 대하여 책임지지 않습니다.</h6>
  </div>      
    <div class="footer-copyright">
      <div class="container">
        <h6 class="grey-text text-base" style="margin-bottom: 10px;">
        © 2016 Copyright PassPath, All right Reserved.</h6>
      </div>
    </div>
  </div>

  <!--자바스크립트-->
  <script>
    $( document ).ready(function(){
       $(".button-collapse").sideNav();
    });
  </script>

</footer>

</html>
