<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <meta charset="UTF-8">

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/assets/materialize.js"></script>
  <!--Import Google Icon Font-->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<!--네브바(+모바일대응)-->
  <nav>
    <div class="nav-wrapper" style="padding-right:3%;padding-left:3%;">
      <a href="/" class="brand-logo">PassPath로고</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
        <li><a href="/welcome/about">서비스에 대해</a></li>
        <li><a href="/welcome/rank_tutor">조교랭킹</a></li>
        <li><a href="/">로그인</a></li>
        <li><a href="/">회원가입</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
        <li><a href="/welcome/about">서비스에 대해</a></li>
        <li><a href="/welcome/rank_tutor">조교랭킹</a></li>
        <li><a href="/">로그인</a></li>
        <li><a href="/">회원가입</a></li>
      </ul>
    </div>
  </nav>


<%= yield %>


</body>

<!--footer-->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
  
  <!--자바스크립트-->
  <script>
    $( document ).ready(function(){
       $(".button-collapse").sideNav();
    });
  </script>

</footer>

</html>